<table id="crypto-currency-table" class="table table-inverse table-striped table-bordered">
  <thead>
    <tr>
      {{#each tableHeaders}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each tickers }}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.symbol}}</td>
        <td>{{this.rank}}</td>
        <td>{{this.price_usd}}</td>
        <td>{{this.price_btc}}</td>
        <td>{{this.24h_volume_usd}}</td>
        <td>{{this.market_cap_usd}}</td>
        <td>{{this.available_supply}}</td>
        <td>{{this.total_supply}}</td>
        <td>{{this.max_supply}}</td>
        <td>{{this.percent_change_1h}}</td>
        <td>{{this.percent_change_24h}}</td>
        <td>{{this.percent_change_7d}}</td>
        <td>{{this.last_updated}}</td>
        <td>{{this.millionthMktCapUSD}}</td>
        <td>{{this.millionthCoins}}</td>
        <td>{{this.topTenBuyPerc}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>