<h1>Welcome to CMIIS</h1>

<form action="/get-tickers">
  <input type="submit" value="Get Tickers">
</form>

<table id="crypto-currency-table">
  <tr>
    {{#each tableHeaders}}
      <th>{{this}}</th>
    {{/each}}
  </tr>
  {{#each tickers}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.symbol}}</td>
      <td>{{this.rank}}</td>
      <td>{{this.price_usd}}</td>
      <td>{{this.price_btc}}</td>
      <td>{{this.24h_volume_usd}}</td>
      <td>{{this.market_cap_usd}}</td>
      <td>{{this.available_supply}}</td>
      <td>{{this.total_supply}}</td>
      <td>{{this.percent_change_1h}}</td>
      <td>{{this.percent_change_24h}}</td>
      <td>{{this.percent_change_7d}}</td>
      <td>{{this.last_updated}}</td>
    </tr>
  {{/each}}
</table>